@font-face {
    font-family: 'equestria'; 
    src: url('fonte/equestria.ttf');
    font-weight: normal;
    font-style: normal;
  }
body {
    font-family: "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff9e6;
    overflow-y: hidden; 
    overflow-x: scroll;
    overflow-x: auto;
  }
  

  header {
    background-color: #e3b8f5;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .search-bar input {
    width: 900px;
    max-width: 90%;
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #fff;
    transition: 0.3s;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
  }
  
  .search-bar input:focus {
    box-shadow: 0 0 8px #c36de0;
  }
  

  .main-container {
    display: flex;
    height: calc(100vh - 70px);
    overflow-x: scroll;
    overflow-y: hidden;
  }
  

  .side-info {
    background-color: #f9e3ff;
    color: #450777;
    width: 300px;
    min-width: 250px;
    padding: 30px 20px;
    font-size: 16px;
    box-shadow: inset -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .side-info p {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
    font-size: 17px;
  }

  .side-info h3 {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
    font-size: 23px;
  }

  .side-info img {
    width: 200px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  .content-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 100%;
    background-color: #fffdf5;
    padding-left: 20px;
  }
  
  .content-container p {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
  }

  section {
    flex: 0 0 50vw; 
    height: calc(100vh - 120px); 
    margin: 12px;
    background-color: #fff3d7;
    padding: 30px;
    box-sizing: border-box;
    scroll-snap-align: start;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
 
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .mini {
    color: #7514c4;
    font-weight: bold;
    font-family: 'equestria';
    font-size: 80px;
  }
  
  .mlp {
    color: #fc239b;
    font-weight: bold;
    font-family: 'equestria';
    font-size: 80px;
  }
  
  h2 {
    color: #450777;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    background-color: #ffedaf;
    color: #000000;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900px;
    font-style: normal;
  }
  
  ul li:hover {
    background-color: #f4db98;
    transition: 0.3s;
  }
  

  .content-container::-webkit-scrollbar {
    height: 10px;
  }
  
  .content-container::-webkit-scrollbar-thumb {
    background-color: #c16eff;
    border-radius: 10px;
  }
  
  .content-container::-webkit-scrollbar-thumb:hover {
    background-color: #a755e4;
  }
  
  .info-img{
    width: 180px;
    height: 180px;
  }
  .ponyville-img{
    width: 360px;
    height: 260px;
  }
  .canterlot-img{
    width: 400px;
    height: 350px;
  }
  .cristal-img{
    width: 480px;
    height: 340px;
  }
  